<h2>Update User List</h2>

<table>
    <thead>
      <tr>
        <th>Action</th>
        <th>UserID</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let updateUser of updateUserList; let i = index">
        <td>
          <button (click)="confirmUpdate(updateUser)">Confirm</button>
          <button (click)="declineUpdate(updateUser)">Decline</button>
        </td>
        <td>{{ updateUser.userId }}</td>
        <td>
          <img class="avatar-image" *ngIf="avatarSrcs[i]" [src]="avatarSrcs[i]" alt="N/A">
        </td>
        <td>{{ updateUser.name }}</td>
        <td>{{ updateUser.email }}</td>
        <td>{{ updateUser.phone }}</td>
      </tr>
    </tbody>
  </table>
  